@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif ;
    scrollbar-width: thin;
    text-decoration: none;
}

/* VARIAVEL DAS CORES */
:root {

    --background-color: #fefaf3; /* Rosa suave translúcido */

    --fundo-menu-lateral: rgba(255, 220, 230); /* Rosa pastel */
    --fundo-claro:  #fefaf3;
    --fundo-escuro: #fefaf3;

    --borda-clara: #F8B4D9; /* Rosa médio */
    --borda-escura: #E69EC1; /* Rosa um pouco mais escuro */

    --texto-escuro: #5C374C; /* Vinho suave */
    --texto-claro: #B06F8F; /* Rosa antigo */
    --texto-branco: #FFFFFF; /* Branco puro */
    --texto-hover: #D68BA0; /* Rosa médio */
    --texto-opaco: #C8A6B2; /* Rosa acinzentado */

    --cor-detalhes: #F4A9C0; /* Rosa alegre */

    --texto-titulo-claro: #F6B6D2; /* Rosa claro vibrante */
    --texto-titulo-escuro: #D88EAB; /* Rosa médio escuro */

    --sombra-clara: rgba(255, 255, 255, 1);
    --sombra-escura: rgb(119, 95, 104); /* Sombra com tom rosado */
}

body {
    color: var(--texto-claro);
    background: var(--fundo-escuro);
}

p {
    font-size: 18px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--fundo-menu-lateral);
    padding: 0 15px;
    overflow-y: auto;
    z-index: 99;
    transition: all ease-in-out 0.5s;
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 13rem;
}

.perfil .social-links i {
    font-size: 18px;
    display: inline-block;
    background: var(--fundo-claro);
    color: var(--texto-claro);
    line-height: 1;
    padding: 8px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--sombra-escura);
}

.perfil .social-links a:hover,
.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: var(--texto-escuro);
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-escura);
}

.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--fundo-menu-lateral);
    color: var(--texto-claro);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}

#main {
    margin-left: 300px;
    background: var(--fundo-escuro);
}

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }

    #main {
        margin-left: 0;
    }

    .container {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu a,
.nav-menu:focus {
    display: flex;
    align-items: center;
    color: var(--texto-escuro);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--texto-escuro);
    font-weight: 600;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--sombra-escura);
    font-weight: 600;
}

#header h1 {
    color: var(--texto-escuro);
    text-align: center;
}

/* Menu do Header */ 
.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu:focus {
    display: flex;
    align-items: center;
    color: var(--texto-claro);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 22px;
    padding-right: 10px;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--texto-escuro);
    font-weight: 600;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--texto-escuro);
    font-weight: 600;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url(/img/fundo.png) ;
    position: relative;
    background-repeat: repeat;
    background-position: center;

}

#hero::before {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: rgba(255, 220, 230, 0.318);
}

#hero .hero-container {
    z-index: 3;
    position: relative;
    min-width: 300px;
}

#hero h2 {
    margin: 0;
    font-size: 100px;
    font-weight: 600;
    line-height: 1;
    color: var(--texto-escuro);
}

#hero p {
    color: var(--texto-claro);
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 26px;
}

#hero p span {
    color: var(--texto-escuro);
    padding-bottom: 4px;
    letter-spacing: 2px;
    border-bottom: 3px solid var(--texto-escuro);
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h2 {
        padding-left: 20px;
        font-size: 80px;
        line-height: 1;
        margin-bottom: 45px;
    }

    #hero p {
        font-size: 27px;
        padding-left: 20px;
    }

}

/* Estrutura Base - Corpo */

.container {
    padding-left: 35px;
    padding-right: 30px;
}

/* SECTIO E TITULOS */
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    color: var(--texto-claro);
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    color: var(--texto-escuro);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.section-title h2::after {
    content: "";
    background: var(--texto-escuro);
    position: absolute;
    width: 55px;
    height: 3px;
    display: block;
    left: 0;
}

.section-title p {
    color: #000000;
    margin-bottom: 0;
}


/* SOBRE */

.sobre .content h3 {
    color: var(--texto-escuro);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
}

.sobre .content ul {
    list-style: none;
    padding: 0;
}

.sobre .content ul strong {
    margin-right: 5px;
    font-weight: 600;
    letter-spacing: .5px;
    color: var(--texto-escuro);
}

.sobre .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.sobre .content ul i {
    color: var(--texto-claro);
    margin-right: 10px;
    font-size: 20px;
}

.conquistas {
    padding-bottom: 30px;
}

.conquistas .count-box {
    padding: 30px;
    width: 100%;
}

.conquistas .count-box i {
    color: var(--texto-hover);
    font-size: 44px;
}

.conquistas .count-box .count-box-i {
    color: var(--texto-hover);
    font-size: 44px;
    display: block;
    float: left;
    line-height: 40px;
}

.conquistas .count-box span {
    font-size: 48px;
    color: var(--texto-hover);
    display: block;
    line-height: 40px;
    font-weight: 700;
    margin-left: 0px;
}

.conquistas .count-box p {
    padding: 15px 0 0px 0px;
    margin: 0 0 0 20px;
    color: var(--texto-escuro);
}

.conquistas .count-box strong {
    font-weight: 800;
}

.conquistas .count-box i:hover,
.conquistas .count-box span:hover {
    color: #e9b0c5;
    transition: ease-in-out .4s;
}

.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

.skills .progress .skill {
    padding: 0;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    display: block;
    color: var(--texto-escuro);
    font-weight: 800;
    font-size: 16px;
}

.skills .progress .skill .val {
    font-style: normal;
    float: right;
    font-weight: 800;
    font-size: 16px;
}

.skills .progress-bar-bg {
    background: var(--texto-hover);
    height: 10px;
}